.text-azul-petroleo{
    color: #2F4E7C;
}
.text-azul-petroleo:hover{
    color: #4b7cc7;
}

.botao-cadastro{
    background-color: #2F4E7C;
    width: 100%;
    color:white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px;
    transition: 0.3s;
}

.botao-cadastro:hover{
    background-color: #4b7cc7;
    transition: 0.3s;
}

.formulario{
    padding: 33px;
    max-width: 550px;
}
