@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

body {
    font-family: 'Poppins', sans-serif;
}

.menu {
    background-color: #2F4E7C;
}

.conteudo_principal {
    background-color: #FAF9F9;
    min-height: 100vh;
    padding: 15px !important;
}

.container_pesquisa {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;

    background-color: #FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_pesquisar {
    width: 350px !important;

}

.input_pesquisar::placeholder {
    color: #CCCCCC !important;
    font-size: 14px;
    font-weight: bold;
}

.conteudo_usuario {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome_usuario {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.email_usuario {
    margin-top: 0px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #b1b0b0;
}

.container_valores {
    min-height: 150px;
    margin-top: 30px;
    gap: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card {
    width: 500px !important;
    height: 130px !important;
    border-radius: 10px !important;

    display: flex;
    align-items: start;
}


.conteudo_card {
    display: flex;
    align-items: center;
}

.total_inventario {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.valor_total {
    font-size: 32px;
    margin-left: 15px;
    font-weight: bold;
    color: green !important;
}

.valor_depreciacao {
    font-size: 32px;
    margin-left: 15px;
    font-weight: bold;
    color: red !important;
}

.valor_atual {
    font-size: 32px;
    margin-left: 15px;
    font-weight: bold;
    color: #2F4E7C !important;
}

.texto_card {
    font-size: 20px;
    margin-left: 15px;

    font-weight: bold;
    color: #9F9F9F;
}

.botoes_navegacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    gap: 20px;
}

.icone_navegacao {
    margin-right: 10px;
}

.botao_navegar {
    font-size: 24px;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.5s;
}

.botoes_navegacao div {
    transition: 0.3s;
}

.botoes_navegacao div:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}

.botao_dashboard {
    padding: 8px;
    border-radius: 7px; 
    background-color: #20385c;
}

.container_imagem_menu {
    padding-top: 20px;
}

.imagem_logo {
    height: 70px !important;
    width: 100%;

    object-fit: cover;
}

.container_imagem_menu>hr {
    height: 10px;
    color: white;
}

.card_inventario {
    width: 300px !important;
    height: 200px !important;
    border-radius: 10px !important;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;

    display: flex;
    align-items: start;

    background-color: white;
}

.dados_card{
    display: flex;
    justify-content: space-between;
}

.conteudo_card_inventario{
    display: flex;
    flex-direction: column;
}

.texto_linhas, .texto_totais{
    font-size: 13px;
    font-weight: bold;
    color: #999898;
}

.nome_item, .qtd_item{
    font-size: 20px;
    
    font-weight: bold;
    /* font-family: "poppins"; */
}

.container_cards{
    /* gap: 30px; */
    justify-content: space-between;
}

.espaco_pesquisar{
    width: 400px !important;
}

.icone_x{
    font-size: 14px;
}

.botao_pesquisar{
    color: #2F4E7C !important;
    border: 1px #2F4E7C solid !important;
}

.botao_pesquisar:hover{
    background-color: #2F4E7C !important;
    color: white !important;
}

.tabela {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}



.form-control::-webkit-input-placeholder{
    color: rgb(211, 210, 210);
}